@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
/* Start Global Rules */
:root {
    --prime-color: #ff1d52;
    --bg-color: #191919;
    --padding: 80px;
    --bg-color-2: #101010;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    caret-color: var(--prime-color);
}

body {
    background-color: var(--bg-color);
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
}

input:focus {
    outline: none;
}

li {
    list-style: none;
}

/* containers */
/* small */
@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}
/* medium */
@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}
/* large */
@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}
/* extra large */
@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* End Global Rules */

/* Start Components */
.button {
    background-color: var(--prime-color);
    color: inherit;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: 300;
    border: solid 2px transparent;
    display: inline-block;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.button:hover {
    transform: scale(1.05);
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}
/* End Components */

/* Start Header */
header {
    position: absolute;
    top: 25px;
    left: 0;
    width: 100%;
    z-index: 5;
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

header .logo {
    letter-spacing: 1px;
    user-select: none;
}

header .logo h2 {
    font-size: 26px;
}

header .logo h2 span {
    color: var(--prime-color);
}

header nav {
    flex: 1;
}

header nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav ul li a {
    color: inherit;
    display: block;
    padding: 10px 20px;
}

header nav ul li {
    font-size: 15px;
    text-transform: capitalize;
}

header nav ul li:hover {
    color: var(--prime-color);
}

header .container .sub a {
    font-weight: 500;
    letter-spacing: 1px;
    padding: 12px 22px;
}

@media (max-width: 991.98px) {
    header .logo h2 {
        font-size: 22px;
    }
    header .container .sub a {
        font-weight: 400;
        letter-spacing: 0.5px;
        padding: 8px 15px;
    }
}

@media (max-width: 767.98px) {
    header .logo h2 {
        font-size: 20px;
    }
    header nav ul li a {
        padding: 8px 10px;
    }
    header nav ul li {
        font-size: 14px;
    }
    header .sub a {
        font-size: 14px;
    }
    .container {
        padding-left: 0;
        padding-right: 0;
    }
}

@media (max-width: 575.98px) {
    header {
        position: static;
        height: 100vh;
    }
    header .container {
        flex-direction: column;
        height: 100%;
    }
    header nav {
        flex: 1;
        width: 100%;
        text-align: center;
    }
    header nav ul {
        flex-direction: column;
        justify-content: space-evenly;
        height: 100%;
    }
    header nav ul li a {
        padding: 25px 10px;
    }
    header nav ul li {
        width: 100%;
    }
    header .logo {
        text-align: center;
        margin-bottom: 10px;
        margin-top: 45px;
        width: 100%;
    }
    header .logo h2 {
        font-size: 32px;
    }
    header .sub {
        margin-bottom: 40px;
    }
    header .sub a {
        display: block;
    }
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }
}

/* End Header */

/* Start Landing */

.landing {
    background-color: aqua;
    height: 100vh;
    color: white;
    position: relative;
    background-image: url("https://www.slashfilm.com/img/gallery/why-we-never-see-thomas-shelby-eating-anything-on-peaky-blinders/l-intro-1657564077.jpg");
    background-size: cover;
}

.landing .overlay {
    background-color: rgb(0 0 0 / 0.5);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.landing .container {
    position: relative;
    height: 100%;
}

.landing .intro {
    position: absolute;
    top: calc(50% - 15px);
    left: 15px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.landing .intro > span:first-child {
    letter-spacing: 1px;
}

.landing .intro h1 {
    letter-spacing: 2px;
    font-size: 56px;
    margin: 20px 0px;
}

.landing .intro h1 span {
    color: var(--prime-color);
}

.landing .intro > span:last-of-type {
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 1px;
}

.landing .text {
    position: relative;
    margin-top: 30px;
}

.landing .intro .text input[type="email"] {
    border-radius: 20px;
    border: 1px solid var(--prime-color);
    padding: 8px 110px 8px 15px;
    width: 300px;
    height: 40px;
    box-shadow: 1px 0 15px 0px black;
}

.landing .intro .text input[type="email"]::placeholder {
    color: #777;
    font-size: 15px;
}

.landing .intro .text a {
    color: white;
    font-size: 14px;
    background-color: var(--prime-color);
    display: inline-block;
    padding: 9px 10px;
    border-radius: 20px;
    position: absolute;
    width: 100px;
    text-align: center;
    right: 22px;
    box-shadow: 0 0 7px 0px black;
    top: 50%;
    transition: 0.3px;
    transform: translateY(-50%);
    -webkit-border-radius: 20px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transition: 0.3px;
    -moz-transition: 0.3px;
    -ms-transition: 0.3px;
    -o-transition: 0.3px;
}

@media (max-width: 575.98px) {
    .landing .intro {
        width: 100%;
        text-align: center;
        left: 0;
    }
    .landing .intro .text {
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
    }
    .landing .intro .text a {
        right: 4px;
    }
}
/* End Landing */

/* Start About */

.about {
    padding-top: var(--padding);
    padding-bottom: var(--padding);
    color: white;
}

.about .container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about img {
    width: 220px;
    filter: drop-shadow(2px 4px 10px black);
    -webkit-filter: drop-shadow(2px 4px 10px black);
}

.about .container .text {
    padding-left: 55px;
}

.about .container .text h2 {
    margin-bottom: 20px;
    font-size: 34px;
}

.about .container .text h3 span {
    color: var(--prime-color);
}

.about .container .text p {
    margin: 12px 0 30px 0;
    line-height: 1.7;
    max-width: 500px;
}

.about .container .text a:hover {
    transform: scale(1.05);
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}

@media (max-width: 575.98px) {
    .about .container {
        text-align: center;
        flex-direction: column;
    }
    .about img {
        margin-bottom: 30px;
    }
    .about .container .text {
        padding-left: 0;
    }
}

/* End About */

/* Start Services */

.services {
    background-color: var(--bg-color-2);
    color: white;
    text-align: center;
    padding-top: var(--padding);
    padding-bottom: var(--padding);
}

.services h1 {
    font-size: 48px;
    letter-spacing: 1px;
    margin-bottom: 75px;
    margin-top: 0;
}

.services .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px 15px;
}

.services .container .box {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color);
}

.services .container .box i {
    font-size: 42px;
    color: var(--prime-color);
    margin-top: 25px;
}

.services .container .box span {
    font-weight: bold;
    font-size: 20px;
    margin: 15px;
}

.services .container .box p {
    line-height: 1.65;
    color: #777;
    padding: 0px 10px;
}

.services .container .box a {
    width: 130px;
    margin: 20px auto;
}
/* End Services */

/* Start Hire */
.hire {
    color: white;
    text-align: center;
    padding-bottom: var(--padding);
    padding-top: var(--padding);
}

.hire h2 {
    letter-spacing: 1px;
}

.hire a {
    margin-top: 25px;
    font-weight: 400;
}
/* End Hire */

/* Start Footer */

footer {
    background-color: var(--bg-color-2);
    padding-top: var(--padding);
}
footer .container {
    text-align: center;
    color: white;
}

footer .container h2 {
    font-size: 32px;
}

footer .container p {
    margin-top: 20px;
    margin-bottom: 16px;
    line-height: 1.7;
    letter-spacing: 0.8px;
}

footer .container .social {
    color: var(--prime-color);
    font-size: 22px;
}

footer .container .social a {
    text-decoration: none;
    border-radius: 50%;
    background-color: var(--prime-color);
    width: 35px;
    height: 35px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: white;
}

footer .social a:last-of-type i {
    position: relative;
    left: -1px;
}

footer .container > span:last-child {
    margin-top: 50px;
    color: var(--prime-color);
    margin-bottom: 15px;
    display: inline-block;
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 1px;
}
/* End Footer */
